# hakaton-db
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# hakaton-backend
DB_PORT=
DB_SERVICE=db
YOUTUBE_API_TOKEN=
RUTUBE_API_TOKEN=
VIMEO_API_TOKEN=
YOUTUBE_API_URL=
RUTUBE_API_URL=
VIMEO_API_URL=
STATS_UPDATE_DELAY_SEC=

# hakaton-bot
BOT_TOKEN=
DATABASE_HOST=


