<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" shutdownHook="disable">
    <Properties>
        <Property name="logPattern">%d{yyyy-MM-dd HH:mm:ss.SSS} - [tg_bot_backend] - %-5level - %msg%n</Property>
        <Property name="logFile">/app_data/bot_backend_log</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" charset="UTF-8"/>
        </Console>

        <File name="File" fileName="${logFile}" append="true" bufferedIO="false">
            <PatternLayout pattern="${logPattern}" charset="UTF-8"/>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="ru.mephi.case2.log.BackendLogger" level="info" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>
</Configuration>